<% include ../partials/header.ejs %>

<style>
  .masthead {
  height: 70vh;
  min-height: 350px;
  background-image: url('/images/<%= foundBlog.tripImage %>');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
</style>

<header class="masthead"></header>

<br>
  <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= foundBlog.tripCountry %> / <%= foundBlog.tripCity %></h1>
            <h4 class="subheading"> <%= foundBlog.tripSummary %> </h4>
            <span class="meta">Posted by
                <small><%= foundBlog.ownerMail %></small>
                 on <%= foundBlog.postDate %></span>
                 <br><br><br>
            <p><strong>Gezi Türü:</strong> <%= foundBlog.tripType %> </p>
            <p><strong>Gezi Başlangıç Tarihi:</strong> <%= foundBlog.tripDate %> </p>
            <p><strong>Gezi Uzunluğu:</strong> <%= foundBlog.tripDuration %> </p>
          </div>
        </div>
      </div>
    </div>

  <br>
  <article>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <p><%= foundBlog.tripArticle %></p>
              </div>
          </div>
      </div>
      <% if(currentUser && currentUser.isAdmin == true) { %>
      <a href="/onayla/<%= foundBlog._id %>" class="btn btn-success" style="margin-left:46%">ONAYLA</a>
      <% } %>
  </article>

<% include ../partials/footer.ejs %>