<% include partials/header.ejs %>

<div class="jumbotron text-center">
    <h1>ADMIN PAGE</h1>
</div>
<div class = "container">
    <div class="row">
        <% foundPosts.forEach((post)=>{ %>
            <% if(post.isConfirmed==false) { %>
        <div class="col-xl-4" style="padding: 10px">
            <div class="card text-center mx-auto" style="width: 370px; background:#cbb5ff">
                <img class="card-img-top img-fluid mx-auto" src="/images/<%= post.tripImage %>" alt="blog images" style="width:100%; height: 200px;">
                <div class="card-body">
                    <h3 class="card-title"><%= post.tripCountry %> / <%= post.tripCity %></h3>
                    <p class="card-text"><%= post.tripSummary %></p>
                    <p> <small> Posted by <a href="/users/<%= post.ownerID %>"> <%= post.ownerMail %></a></small></p>
                    <a href="/blogs/<%= post._id %>" class="btn btn-primary">View Blog</a>
                </div>
            </div>
        </div>
        <% } %>
        <% }); %>
    </div>
</div>

<% include partials/footer.ejs %>